* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #fafafa;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img {
    width: 8vw;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 75vw;
    margin: 20px auto;
    background-color: #fff;
}

h1, h2 {
    color: #FA3359;
    text-align: center;
    padding: 8px;
}

.khooo {
    text-align: center;
}

.lolo {
    text-align: center;
    padding: 20px 0 0 0;
    font-weight: 600;
    font-size: large;
    color: #FA3359;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

@media (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}

.WoooHooo {
    padding: 20px;
}

.par-ti-son {
    padding: 2px;
    background-color: #d5d5d57f;
}

.img1 img, 
.img2 img,
.img3 img {
    /* border: 1px solid rgba(255, 0, 0, 0.525); */
    background: linear-gradient(red, yellow, rgb(183, 74, 183), rgb(236, 142, 158), rgb(255, 132, 0));
    padding: 4px;
    border-radius: 80px;
    width: 120px;
    margin: 44px;
}

#name1 {
    text-align: center;
    margin: 0 10px;
    color: #4f657b;
    font-weight: 900;
    font-family: Dhurjati;
    font-size: 20px;
    letter-spacing: 1px; 
}

.founder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 10px;
    padding: 0 0;
}