@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: #000;
    background-color: #ffffff;
}

.box-set {
    width:22vw;
    height: 40vh;
    background-color: #0077BF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-set p {
    font-size: 28px;
    color: #ffffff;
    /* word-spacing: 2px; */
    letter-spacing: 2px;
    font-family: "Roboto Condensed", sans-serif;
}

.box-set p span i {
    color: #ffffff;
    font-size: 28px;
}

.set-box {
    width:100vw;
    height: 40vh;
    background-color: #e6f7ff;
}

.set-box a {
    text-decoration: none;
}

.set-box p{
    padding: 20px;
    text-decoration: underline #0C71B0 1px;
    color: #0C71B0;
    text-underline-offset: 10px;
}

.set-box p:hover {
    color: #000;
    transition: 0.6s;
}

.algo-esco {
    display: flex;
    /* justify-content: center;
    align-items: center;
    gap: 3vw; */
}

.container {
    padding: 2vh 0;
}

.img-one {
    background-image: url(https://my.clevelandclinic.org/-/scassets/images/org/hero/home-hero-may-30.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    filter: contrast(90%) brightness(90%) grayscale(5%);
}

.img-one .text-img {
    display: flex;
    justify-content: center;
    /* align-items: end; */
}

.text-img .txt-blc {
    font-size: 54.18875px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    word-spacing: 2px;
    color: #c3c1c1;
}

.logo img {
    width: 8vw;
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 10vh;
    color: #0077BF;
}

.extra .sol-mol:hover {
    box-shadow: 0px 0px 1px #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.236);
}

.extra .sol-mol {
    text-align: center;
}

.extra .fol-col {
    color: #000;
    font-weight: 350;
}

.sol-mol img {
    width: 25vw;
}

header {
    padding: 0 55px;
}

header .navi nav {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 50px;
}

.navi nav a {
    text-decoration: none;
    color: #000000b0;
    font-size: 20.3203px;
    font-weight: 600;
}

.navi nav a:hover {
    color: #0C71B0;
    text-decoration: underline #0C71B0;
    text-underline-offset: 10px;
    transition: all ease 0.6s;
}

.btn-set {
    padding: 25px 0 12vh 15px;
}

.btn-set .sat-sut {
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #0C71B0;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-set .sat-sut:hover {
    background-color: #1B477B;
    transition: all ease 0.6s;
}

.container .tyst {
    padding: 0 0 25px 0;
    /* filter: drop-shadow(1px 1px 20px #ff385db3); */
    /* width: 100vw; */
    /* height: 1px; */
    /* padding: 40px; */
    /* border: 10px solid transparent; */
    background-image: url(https://images.gmanews.tv/webpics/2021/04/DOHHIV_Cover_Photo_2021_04_06_09_10_32.jpg);
    /* background-repeat: no-repeat; */
    filter: blur(1px);
    /* object-fit: contain; */
    
}

@keyframes blink-shadow {
    0%, 100% {
        filter: drop-shadow(1px 1px 25px #044e69);
      /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    }
    50% {
        filter: drop-shadow(1px 1px 5px #5caeec);
      /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0); */
    }
}  

@keyframes text-shadow {
    0%, 100% {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    }
  }

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.book .appo-book {
    width: 50vw;
    height: 46vh;
    background-color: #f1fafe;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 22px;
    animation: text-shadow 1.5s infinite;
}

.appo-book .appo-btn {
    border: none;
    border-radius: 8px;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0077BF;
    animation: blink-shadow 2s infinite;
    color: #f1fafe;
}

.appo-book .appo-btn:hover {
    background-color: #3492cd;
    transition: all ease 0.8s;
    cursor: pointer;
}

.book .appo-book .appo-h {
    color: #0C71B0;
    line-height: 2;
}

.book .appo-book .appo-h p{
    line-height: 1;
    word-wrap: break-word;
    font-size: 18px;
    color: #1b467bbb;
}

.book .appo-book .appo-h p span {
    display: block;
    margin-top: 5px;
}

/* form css */
.hidden {
    display: none;
}

.appo-book-form {
    text-align: center;
    margin-top: 20px;
}

.appo-book-form h2 {
    font-size: 24px;
    color: #0077BF;
}

.appo-book-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.appo-book-form form input[type="text"],
.appo-book-form form input[type="email"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#appointmentForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#appointmentForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#appointmentForm input[type="submit"] {
    background-color: #0077BF;
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

#appointmentForm input[type="submit"]:hover {
    background-color: #3492cd;
    transition: all ease 0.8s;
}

form fieldset {
    padding: 20px;
    color: #9a9696;
}

form .choose {
    animation: none;
}

/*loader CSS*/
.loader {
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    animation: l8-0 1.5s infinite linear;
  }

.loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    background: #25b09b;
    clip-path: polygon(0 0%,100% 0,100% 100%);
    animation: inherit;
    animation-name: l8-1;
  }

.loader:after {
    --s:-1;
  }

@keyframes l8-0 {
    66%      {transform: skewX(0deg)}
    80%,100% {transform: skewX(-45deg)}
  }

@keyframes l8-1 {
    0%   {transform:scale(var(--s,1)) translate(-0.5px,0)}
    33%  {transform:scale(var(--s,1)) translate(calc(1px - 50%),calc(1px - 50%))}
    66%  {transform:scale(var(--s,1)) translate(calc(1px - 50%),0%)}
    100% {transform:scale(var(--s,1)) translate(calc(0.5px - 50%),0%)}
  }