*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff74;
}

/* DropBox design */
.dropdown {
    display: none;
    position: absolute;
    border-radius: 12px;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: #f1f1f1;
    transition: all ease 0.6s;
}

.show {
    display: block;
}

/* nav design */
nav li a {
    text-decoration: none;
    color: #201c1c82;
}

nav li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

header .site img {
    width: 100px;
}

header .site a {
    text-decoration: none;
}

header .site {
    display: grid;
    grid-template-columns: 120px 120px 400px 120px 120px 120px;
    grid-template-rows: 120px 50px;
}

.site .a1 {
    grid-column: 2/3;
    padding: 20px 5px;
}

.site .a1 img {
    width: 9vw;
}

.site .a2 {
    grid-column: 4/4;
    padding: 20px 5px;
    color: #00000079;
}

.site .a3 {
    grid-column: 5/5;
    padding: 20px 5px;
    color: #00000079;
}

.site .a4 {
    grid-column: 6/6;
    padding: 20px 5px;
    color: #00000079;
}

.a2:hover{
    color: #000;
    transition: all ease 0.5s;
}

.a3:hover{
    color: #000;
    transition: all ease 0.5s;
}

.a4:hover {
    color: #000;
    transition: all ease 0.5s;
}

.sepration {
    border: 1px solid #EBEBEB;
}
.icon {
    font-size: 18px;
    color: #00000079;
}

.icon:hover {
    color: #000;
    transition: all ease 0.7s;
}

.lv:hover {
    color: #000;
    transition: all ease 0.7s;
}

main .info-img1 {
    text-align: center;
    padding: 2vw 0;
}

main .info-img1 img {
    width: 90vw;
}

.sea-arch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sea-arch .bar {
    padding: 10px;
}

/* card design */


/* footer */
footer .set-go {
    height: 40vw;
    background-color: rgb(240, 240, 228);
}

/*loader CSS*/
.loader {
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    animation: l8-0 1.5s infinite linear;
  }

.loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    background: #25b09b;
    clip-path: polygon(0 0%,100% 0,100% 100%);
    animation: inherit;
    animation-name: l8-1;
  }

.loader:after {
    --s:-1;
  }

@keyframes l8-0 {
    66%      {transform: skewX(0deg)}
    80%,100% {transform: skewX(-45deg)}
  }

@keyframes l8-1 {
    0%   {transform:scale(var(--s,1)) translate(-0.5px,0)}
    33%  {transform:scale(var(--s,1)) translate(calc(1px - 50%),calc(1px - 50%))}
    66%  {transform:scale(var(--s,1)) translate(calc(1px - 50%),0%)}
    100% {transform:scale(var(--s,1)) translate(calc(0.5px - 50%),0%)}
  }